.home-section {
  min-height: calc(100vh - 3.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section h1 {
  /* font-size: 4.5rem; */
  font-size: clamp(3rem, 5vw, 4rem);
}
.home-section span {
  font-size: clamp(4rem, 6vw, 5rem);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, rgb(224, 135, 135), rgb(170, 170, 252));
}
.home-section p {
  font-size: clamp(1rem, 3vw, 2rem);
}
