.section-register {
  width: 100%;
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-register {
  margin-top: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 10px;
}
.form-register input[type='email'],
.form-register input[type='password'] {
  padding: 0.3rem 0.3rem;
}
.form-register input[type='submit'] {
  margin-top: 0.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0 1rem;
  border-radius: 10px;
  border: medium solid #fff;
  color: #fff;
  background-color: var(--white-blur);
  font-size: 1.2rem;
}
