:root {
  --primary-color: linear-gradient(45deg, #34175dc3, #6f205fce);
  --secundary-color: #502873;
  --white-blur: rgba(250, 250, 250, 0.1);
}
body {
  background: var(--primary-color);
  color: #fff;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 10px;
  border: medium solid #fff;
  color: #fff;
  background-color: var(--secundary-color);
}

.dashboard {
  padding: 1.5rem;
}

.card {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--white-blur);
  border-radius: 10px;
}
